@import "variables.scss";

/*========== Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: initial;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
a{
	text-decoration:none;
	color: #111;
}

/*========== Base ==========*/
html,body,#app{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  color: #111;
  font-family: Arial,'微軟正黑體', sans-serif;
}
#header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $header-height;
	padding: 1em;
	background-color: #10243d;
	color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
#logo{
	color: #fff;
	border: 1px solid rgba(255,255,255,.4);
	padding: .5em;
	width: 165px;
	text-align: center;
}
#menu{
	position: fixed;
	left: 0;
	top: $header-height;
	height: calc(100% - 70px);
	padding: 1em 0;
	overflow: auto;
	width: $menu-width;
	// box-shadow: 0 1px 8px rgba(0,0,0,.05);
	border-right: 1px solid #f4f4f4;
	background: #fcfcfc;
	z-index: 2;
	a{
		position: relative;
		display: block;
		padding: .8em 1em;
		transition: all .25s;
		font-size: 15px;
		margin-bottom: 10px;
		&:hover, &.router-link-exact-active{
			background-color: #446793;
			color: #fff;
			&::before{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 0 4px 5px;
				border-color: transparent transparent transparent #fff;
			}
		}
	}
}
#main{
	position: relative;
	height: 100%;
	overflow: hidden;
	padding: $header-height 0 0 $menu-width;
	>section{
		padding: 1.5em 2em;
		height: 100%;
		overflow-y: auto;
	}
}
.title{
	text-align: center;
	line-height: 1.5em;
	margin-bottom: 20px;
	color: #10243d;
	font-size: 1.2em;
}
