<template>
  <section class="grid">
    <h1 class="title">{ AG-Grid Demo }</h1>
    <ag-grid-vue
        style="width: 100%; height: 92%;"
        class="ag-theme-alpine"
        id="myGrid"
        :columnDefs="columnDefs"
        @grid-ready="onGridReady"
        :defaultColDef="defaultColDef"
        :rowSelection="rowSelection"
        :debug="true"
        :rowData="rowData"></ag-grid-vue>
  </section>
</template>

<script>
import 'ag-grid-community/dist/styles/ag-grid.css';
import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
import { AgGridVue } from "ag-grid-vue";

export default {
  name: "grid",
  components: {
    AgGridVue,
  },
  data() {
    return {
      columnDefs: [
        {
          headerName: 'Athlete Details',
          children: [
            {
              headerName: 'Athlete',
              field: 'athlete',
              width: 180,
              filter: 'agTextColumnFilter',
              checkboxSelection:true,
              headerCheckboxSelection:true 
            },
            {
              headerName: 'Age',
              field: 'age',
              width: 90,
              filter: 'agNumberColumnFilter',
            },
            { headerName: 'Country', field: 'country', width: 140 },
          ],
        },
        {
          headerName: 'Sports Results',
          children: [
            { headerName: 'Sport', field: 'sport', width: 140 },
            {
              headerName: 'Total',
              columnGroupShow: 'closed',
              field: 'total',
              width: 100,
              filter: 'agNumberColumnFilter',
            },
            {
              headerName: 'Gold',
              columnGroupShow: 'open',
              field: 'gold',
              width: 100,
              filter: 'agNumberColumnFilter',
            },
            {
              headerName: 'Silver',
              columnGroupShow: 'open',
              field: 'silver',
              width: 100,
              filter: 'agNumberColumnFilter',
            },
            {
              headerName: 'Bronze',
              columnGroupShow: 'open',
              field: 'bronze',
              width: 100,
              filter: 'agNumberColumnFilter',
            },
          ],
        },
      ],
      gridApi: null,
      columnApi: null,
      defaultColDef: {
        sortable: true,
        resizable: true,
        filter: true,
      },
      rowData: null,
      rowSelection: 'multiple',
    };
  },
  beforeMount() {},
  methods: {
    onGridReady(params) {
      this.gridApi = params.api;
      this.gridColumnApi = params.columnApi;

      const updateData = (data) => {
        this.rowData = data;
      };

      fetch('https://www.ag-grid.com/example-assets/olympic-winners.json')
        .then((resp) => resp.json())
        .then((data) => updateData(data));

      this.gridApi.sizeColumnsToFit();
    },
  },
};
</script>
