<template>
  <section class="models">
    <h1 class="title">{ Client-Side Data 與 Server-Side Data 差異 }</h1>
    <ul class="compare">
      <li class="client">
        <h6>☑ Client-Side Data：</h6>
        <ol class="list">
          <li>一次向後端請求所有數據，並將資料全部渲染呈現於頁面中。</li>
          <li>不適用大資料量數據，會增加server負擔。</li>
          <li>可免費使用。</li>
        </ol>
      </li>
      <li class="server">
        <h6>☑ Server-Side Data：</h6>
        <ol class="list">
          <li>可依次向後端請求數據並批次渲染出數據，並且允許由server端重新組合數據再由延遲載入方式重新渲染。</li>
          <li>優點可減輕載入時大批數據請求時的Loading。</li>
          <li>須額外付費。</li>
        </ol>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'Models',
  props: {
    msg: String
  }
}
</script>

<style lang="scss" scoped>
  .compare{
    h6{
      font-size: 16px;
    }
    >li{
      line-height: 1.5em;
      margin-bottom: 50px;
    }
    .list{
      list-style-type: decimal;
      margin-left: 1em;
      li{
        font-size: 14px;
      }
    }
  }
</style>
