<template>
  <div id="app">
    <div id="header">
      <a id="logo">LOGO</a>
    </div>
    <nav id="menu">
      <router-link to="/">Grid展示</router-link>
      <router-link to="/models">Row Models</router-link>
    </nav>
    <div id="main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style lang="scss">
@import "./assets/css/base.scss";
</style>
